<!DOCTYPE html>
<html>
<title>MUFC Login</title>
<link rel="stylesheet" href="../static/css/login.css">
<head>
</head>
<body>
    <header>
        <div class="container">
            <img src="../static/img/man.png" width="5%" height="5%">
            <div class="head-tag">
              <a href="/">Home</a>
              <a href="#">About Club</a>
              <a href="#">Contact Us</a>
            </div>
          </div>

    </header>
    <h1>Login</h1>
    <form action="/admin" method="post">
        <label>Username:</label>
        <input type="text" name="username">
        <br>
        <label>Password:</label>
        <input type="password" name="password">
        <br>
        <input type="submit">
        {{msg}}
    </form>
</body>
</html>