<!DOCTYPE html>
<html>
<title>Search</title>
<link rel="stylesheet" href="../static/css/search.css">
<head>
</head>
<body>

    <header>
        <div class="container">
            <img src="../static/img/man.png" width="5%" height="5%">
            <div class="head-tag">
              <a href="/">Home</a>
              <a href="#">About Club</a>
              <a href="#">Contact Us</a>
            </div>
          </div>

    </header>
    <h1>Search Player by Jersey Number</h1>
    <form action="/searchresult" method="post">
        <label>Jersey No:</label>
        <input type="text" name="jno">
        <br>
        <input type="submit">
    </form>
</body>
</html>